*{
  text-align: center;
}
p{

  font-size: 25px;
}
body{
  background-color: #F4F6F7;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-weight: bold;

}
.title{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Springfield_Skyline%2C_MA.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  font-size: 100px;
  color: #041164;
  width: 100%;
  height:300px;
  justify-content: center;

}

#list{
  display:table;margin:0 auto;
  padding-bottom: 30px;
  width: 50%;
}
.redText{
  color: #D01515;
}
li{
  font-size: 25px;
}
.aboutUsText{
  display:inline-block;
  margin-left: 50px;
  margin-right: 50px;
}
iframe{
  width: 40%;
  margin:auto;
  display: block;
  margin-top: 30px;
}

#reps{
  display: block;
  font-size: 18px;
  margin: auto;
  margin-bottom: 30px;
}
#head{
  font-weight: bold;
  background-color: #92bde7;
  padding-top: 30px;
}
#result{
  margin-bottom:50px;
  background-color: #ffffff;
  margin-left: 400px;
  margin-right: 400px;

}
#confused{
  padding-top: 20px;
  background-color:	#456bbd;
  background-size: 1400px;
  width: 100%;
  font-size: 20px;
  margin-bottom: 50px;
}
#table{
justify-content: center;
margin-left: 30%;
}
#top{
  background-color:	#c9e6ff;
  padding-top: 30px;
}
#issue{
  background-color: #abd9ff;
  padding-bottom: 30px;
  padding-top: 30px;
}
h1{
  margin: 0%;
  font-size: 28px;
  text-decoration: underline;
}
a{
  color: #D01515;
}
#result2{
  background-color: #ffffff;
  margin-left: 400px;
  margin-right: 400px;
}
#write{
  background-color: 	#92bde7;
  padding-top: 30px;
  padding-bottom: 30px;
}
#us{
  font-size: 60px;
  color: #D01515;
  padding-bottom: 50px;
}
