
p{
  text-align: center;
  font-size: 25px;
}
body{
  background-color: #F4F6F7;
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
  font-weight: bold;
  text-align: center;

}
.title{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/b/b6/Springfield_Skyline%2C_MA.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  font-size: 100px;
  color: #041164;
  width: 100%;
  height:300px;
  justify-content: center;
  padding-top: 150px;
}

#list{
  display:table;margin:0 auto;
  padding-bottom: 30px;
  width: 50%;

}
.redText{
  color: #D01515;
}
li{
  font-size: 25px;
}
.aboutUsText{
  display:inline-block;
}
iframe{
  width: 40%;
  margin:auto;
  display: block;
  margin-top: 30px;
}

#reps{
  text-align: center;
  display: block;
  font-size: 18px;
  margin: auto;
}

#write{
  text-align: center;

}

#head{
  text-align: center;
  font-weight: bold;
  background-color: #bebea8;
}
#result{
  margin-bottom:50px;
}
#result2{
  margin-bottom: 50px;
}
#confused{
  background-color:	#a64e29;
  background-size: 1400px;
  width: 100%;
}
#table{
justify-content: center;
margin-left: 30%;
}
#top{
  background-color:	#27788f;
}

#issue{
  background-color: #235273;
}

h1{
  margin: 0%
}
